a{
  text-decoration: none !important;
}

.ant-btn-primary{
  background-color: rgb(32, 32, 32) !important;
  outline:none !important;
  border: 0px !important;
}

.container-fluid{
padding:0px !important;
  
}


@media only screen and (max-width: 650px) {
  
  .nav-link{
    display:none !important;
  }
}
